* 
{
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}
body 
{
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track 
{
  background: #FFF;
}
body::-webkit-scrollbar-thumb 
{
  background: #000;
}
.utkarsh_mainbackground
{
  background-image: url('../images/back-2.jpg');
  width: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  padding: 0px;
  position: relative;
}
.utkarsh_mainbackground::before
{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50 50 50 / 33%) 0%, rgb(0 0 0 / 33%) 99.4%);
}
.utkarshvideo_backcolorarea
{
  position: relative;
  z-index: 1;
}
.mainout_sectionutkarsh
{
	margin: 20px 0px 0px 0px;
}
.utkarsh_logodesign
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 180px;
}
/*============================progress bar design========================*/

/*============================progress bar design========================*/
.utkarshdivison_outarea
{
	margin: 10px 0px 0px 0px;
}
.utkarshdivison_rightoutarea
{
  margin: 87px 0px 0px 0px;
}
.utkarsh_winnerdepartment
{
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0px;
}

.utkarshteam_pointtextdesign
{
  color: #ffcd00;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 40px;
  font-weight: 700;
}
.utkarshdepartment_headingtextdesign 
{
  min-height: 53px;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(-12.74%, rgba(110, 239, 255, .5)), color-stop(56.76%, rgba(106, 224, 255, .271)));
  background: linear-gradient(90deg, rgba(110, 239, 255, .5) -12.74%, rgba(106, 224, 255, .271) 56.76%);
  border: 2px solid #acf7ff;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.utkarshdepartment_headingtextdesign:before 
{
  content: "";
  width: 6px;
  height: 28px;
  background: #19173b;
  border: 2px solid #acf7ff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  bottom: -7px;
  left: 4px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.utkarshdepartment_headingtextdesign:after 
{
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-top: 15px solid transparent;
  border-left: 15px solid #fffcf7;
}
.utkarsh_cardfstructure 
{
  text-align: center;
  background: #1c242f;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, .17);
  border-radius: 12px;
  margin-top: 20px;
  padding: 10px 15px 15px;
  position: relative;
  transition: .3s linear;
  overflow: hidden;
  z-index: 1;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 330px;
}
.utkarsh_cardfstructure::before
{
  content: "";
  position: absolute;
  left: 0;
  top: -38px;
  width: 40px;
  height: 260px;
  background: #45f882;
  transform: rotate(-55deg);
  transition: all .3s ease-out 0s;
  /*opacity: .55;*/
  z-index: -1;
}
.utkarsh_cardfstructure::after
{
  content: "";
  position: absolute;
  left: auto;
  top: -38px;
  width: 40px;
  height: 260px;
  background: #45f882;
  transform: rotate(55deg);
  transition: all .3s ease-out 0s;
  /*opacity: .55;*/
  z-index: -1;
  right: 0;
}

.utkarsh_cardfstructure1 
{
  text-align: center;
  background: #1c242f;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, .17);
  border-radius: 12px;
  margin-top: 20px;
  padding: 10px 15px 15px;
  position: relative;
  transition: .3s linear;
  overflow: hidden;
  z-index: 1;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 330px;
}
.utkarsh_cardfstructure1::before
{
  content: "";
  position: absolute;
  left: 0;
  top: -38px;
  width: 40px;
  height: 260px;
  background: #ffe400;
  transform: rotate(-55deg);
  transition: all .3s ease-out 0s;
  /*opacity: .55;*/
  z-index: -1;
}
.utkarsh_cardfstructure1::after
{
  content: "";
  position: absolute;
  left: auto;
  top: -38px;
  width: 40px;
  height: 260px;
  background: #ffe400;
  transform: rotate(55deg);
  transition: all .3s ease-out 0s;
  /*opacity: .55;*/
  z-index: -1;
  right: 0;
}
.utkarsht_imgoutarea
{
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
.utkarsht_imgoutarea:before 
{
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #33985d;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.utkarsht_imgoutarea:after 
{
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #33985d;
  border-radius: 50%;
  transition: all 200ms;
}
.utkarsht_imgoutarea:hover:after 
{
  background-color: darken(#fa183d, 10%);
}
.utkarsht_imgoutarea img
{
  position: relative;
  z-index: 2;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: -13px;
  left: -23px;
  background: #FFF;
  border-radius: 50%;
  border: none;
  padding: 5px 5px 5px 5px;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.utkarsht_imgoutarea1
{
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
.utkarsht_imgoutarea1:before 
{
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ffe400;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.utkarsht_imgoutarea1:after 
{
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ffe400;
  border-radius: 50%;
  transition: all 200ms;
}
.utkarsht_imgoutarea1:hover:after 
{
  background-color: darken(#fa183d, 10%);
}
.utkarsht_imgoutarea1 img
{
  position: relative;
  z-index: 2;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: -13px;
  left: -23px;
  background: #FFF;
  border-radius: 50%;
  border: none;
  padding: 5px 5px 5px 5px;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.utkarshtoprank_imgdesign1
{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 55px;
}
.utkarshtoprank_imgdesign2
{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 48px;
}
.utkarshtoprank_imgdesign3
{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 44px;
}
.utkarzx_outdetailarea
{
  margin: 110px 0px 0px 0px;
}
.utkarzx_outdetailarea1
{
  margin: 120px 0px 0px 0px;
}
.utkarzx_outdetailarea2
{
  margin: 125px 0px 0px 0px;
}
.utkarshtop_profilenametextdesign
{
  color: #FFF;
  font-size: 20px;
  text-align: center;
  margin: 0px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.utkarshtop_designationnametextdesign
{
  color: #ddf247;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 0px 0px 0px;
}
.utkarshothers_nameoutsection
{
  margin: 30px 0px 20px 0px;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
}
.utkarshothers_nameoutsection1
{
  margin: 30px 0px 20px 0px;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
}
.utkarsh_jnboxoutarea
{
  background-color: #0b0c10;
  margin: 30px 0px 0px 0px;
  border-radius: 5px;
  padding: 0px 0px 0px 0px;
}
.ranklist_poutsection
{
  
}
.ranknumber_otextdesign
{
  font-size: 35px;
  font-weight: 800;
  line-height: 44px;
  text-transform: capitalize;
  color: #ddf247;
  text-align: center;
  padding: 23px 0px 0px 0px;
}
.olimg_outsection
{
  padding: 10px 0px 10px 0px;
}
.otheruser_winsimgdesign
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.olnamex_outsection
{

}
.utkarshleft_nameoutsection
{
  color: #FFF;
  font-size: 22px;
  text-align: center;
  margin: 0px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 33px 0px 0px 0px;
}
.olulast_desgserction
{

}
.utkarshleft_designationtextdesign
{
  color: #ddf247;
  font-size: 13px;
  text-align: center;
  margin: 0px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 38px 0px 0px 0px;
}
/*==============================progress bar===============================*/
.progress_sdcard 
{
  width: 250px;
  height: 170px;
  /*background-color: #08aeea;
  background-image: linear-gradient(180deg, #08aeea 0%, #2af598 100%);*/
  color: white;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.progress_sdcard1
{
  width: 250px;
  height: 170px;
  /*background-color: #08aeea;
  background-image: linear-gradient(180deg, #08aeea 0%, #2af598 100%);*/
  color: white;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
#progress_container 
{
  width: 200px;
  height: 130px;
  margin: 0 auto;
}
#progress_container1 
{
  width: 200px;
  height: 130px;
  margin: 0 auto;
}
.progressbar__label 
{
  font-size: 40px;
  left: 44% !important;
  font-weight: 500;
  transform: translate(-50%, 0) !important;
  position: relative;
}
.progressbar__label::before
{
  position: absolute;
  content: '%';
  right: -35px;
  bottom: 0px;
}
.progressbar__label1 
{
  font-size: 40px;
  left: 44% !important;
  font-weight: 500;
  transform: translate(-50%, 0) !important;
  position: relative;
}
.progressbar__label1::before
{
  position: absolute;
  content: '%';
  right: -35px;
  bottom: 0px;
}
svg 
{
  height: 130px;
  width: 200px;
  fill: none;
  stroke: #b0e952;
  stroke-width: 15;
  stroke-linecap: round;
  /*filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5));*/
}
.monthy_resultoutsection
{
  margin: 30px 0px 30px 0px;
}
.mnthwkly_btndesign
{
  width: 250px;
  height: 55px;
  background-color: #e43d12;
  margin: 0px auto;
  text-align: center;
  line-height: 55px;
  color: #FFF;
  font-weight: 600;
  font-size: 22px;
  border-radius: 5px;
}
.monthlyresult_locsection
{
  margin: 30px 0px 0px 0px;
  background-color: #1c242f;
  height: 75px;
}
.csmw_resultoutsection
{

}
.mmenrtext_design
{
  text-align: center;
  color: #FFF;
  font-size: 14px;
  padding: 30px 0px 0px 0px;
  margin: 0px;
}
.csmw_resultoutsection1
{

}
.witrphy_icondesign
{
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0px;
  padding: 6px 0px 0px 0px;
}
.csmw_resultoutsection2
{

}
.percent_textdesign
{
  text-align: center;
  color: #FFF;
  font-size: 22px;
  padding: 28px 0px 0px 0px;
  margin: 0px;
}
/*==============================progress bar===============================*/

/*==============================animated progress bar======================*/
.ce_ixelgen_progress_bar {
  max-width: 800px;
  margin: 0 auto;
}
.ce_ixelgen_progress_bar .progress_bar_item {
  margin-bottom: 2rem;
}
.ce_ixelgen_progress_bar .item_label,
.ce_ixelgen_progress_bar .item_value {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  padding: 5px 0px 5px 0px;
}
.ce_ixelgen_progress_bar .item_value {
  font-weight: 400;
}
.ce_ixelgen_progress_bar .item_bar {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #000;
  border-radius: 0px;
}
.ce_ixelgen_progress_bar .item_bar .progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  margin: 0;
  background-color: #f50045;
  border-radius: 0px;
  transition: width 100ms ease;
  height: 10px;
}
/*==============================animated progress bar======================*/